.retry #retry__button {
    background-image: url('project://database/Assets/IntoTheAbyss/Art/UI/popup.png?fileID=839851380&guid=94e2cfe31e8f8f80a8bded63021c9cde&type=3#popup_3');
}

.retry #retry__button {
    background-image: url('project://database/Assets/IntoTheAbyss/Art/UI/popup.png?fileID=1304021772&guid=94e2cfe31e8f8f80a8bded63021c9cde&type=3#popup_1');
}
