*.log

.DS_Store
Thumbs.db

*.app
*.exe
*.war
*-autosave.kra

*.blob

*.csproj
*.sln
.vsconfig

.vs/
obj/

*.png~

[Bb]uild/
[Ll]ibrary/
[Uu]serSettings/
[Tt]emp/
[Ll]ogs/

/[Aa]rtifacts/
/[Cc]odeCoverage/